<%= javascript_pack_tag "destination" %>
<%= javascript_pack_tag "onbeforeunload" %>
<%= javascript_pack_tag "summernote_initial_value" %>

<%= form_with model: @message, id: "form" do |f| %>
	<table class="table table-borderless align-middle text-nowrap">
		<colgroup>
			<col class="align-middle">
		</colgroup>
		<tbody>
			<tr>
				<th>標題</th>
				<td>
					<%= f.text_field :title, required: true, class: "form-control" %>
					<p class="text-danger" id="title_error"></p>
				</td>
			</tr>
			<tr>
				<th>差出人</th>
				<th><%= @message.user.name %></th>
			</tr>
			<tr>
				<th>本文</th>
				<td>
					<%= f.hidden_field :body, class: "form-control", id: "summernote" %>
				</td>
			</tr>
			<tr>
				<th>添付ファイル</th>
				<td>
					<%= f.file_field :attachments, multiple: true %>
				</td>
			</tr>
			<% if !@message.id.nil? && @message.attachments.present? %>
				<tr>
					<th>削除するファイル</th>
					<td>
						<% @message.attachments.each do |item| %>
							<div class="custom-checkbox custom-control">
								<%= f.check_box "existing_files", {multiple: true, class: "custom-control-input"} , item.id, false %>
								<%= f.label "existing_files_#{item.id}", item.filename, class: "m-0 custom-control-label" %>
							</div>
						<% end %>
					</td>
				</tr>
			<% end %>
			<tr>
				<th>宛先</th>
				<td class="d-flex">
					<div class="destination_selector d-flex flex-column">
						<h6 class="text-center">変更・削除を許可</h6>
						<%= f.hidden_field :editor %>
						<%= f.select :editor_list, (@message.id.nil? ? [] : options_from_collection_for_select(@editors, :id, :name)), {}, multiple: true, class: "form-control py-1 px-0 w-100 flex-grow-1", id: "editor_list" %>
					</div>
					<div class="my-auto mx-2">
						<%= button_tag type: "button", class: "d-block mb-3 btn btn-outline-primary", id: "add_editor" do %>
							<i class="fas fa-caret-square-left"></i>
							追加
						<% end %>
						<%= button_tag type: "button", class: "d-block btn btn-outline-danger", id: "remove_editor" do %>
							削除
							<i class="far fa-caret-square-right"></i>
						<% end %>
					</div>
					<div class="destination_selector d-flex flex-column">
						<%= f.hidden_field :destination %>
						<h6 class="text-center">宛先（閲覧のみ）</h6>
						<%= f.select :destination_list, (@message.id.nil? ? [] : options_from_collection_for_select(@receivers, :id, :name)), {}, multiple: true, class: "form-control py-1 px-0 w-100 flex-grow-1", id: "destination_list" %>
					</div>
					<div class="my-auto mx-2">
						<%= button_tag type: "button", class: "d-block mb-3 btn btn-outline-primary", id: "add_receiver" do %>
							<i class="fas fa-caret-square-left"></i>
							追加
						<% end %>
						<%= button_tag type: "button", class: "d-block btn btn-outline-danger", id: "remove_receiver" do %>
							削除
							<i class="far fa-caret-square-right"></i>
						<% end %>
					</div>
					<div class="destination_selector d-flex flex-column">
						<h6 class="text-center">ユーザー一覧</h6>
						<%# 検索BOX %>
						<div class="input-group mb-1">
							<%= f.text_field :query, value: @q, form: "search_user", class: "form-control input-group-prepend" %>
							<span class="input-group-btn input-group-append">
								<%= f.button type: "submit", name: nil, form: "search_user", class: "btn btn-dark" do %>
									<i class="fas fa-search"></i>
								<% end %>
							</span>
						</div>
						<div class="flex-grow-1" id="user_list_temp">
							<%= render "user_list" %>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<% if @message.id.nil? %>
		<div class="custom-checkbox custom-control mb-3">
			<%= f.check_box :is_commentable, {class: "custom-control-input"} , "true", "false" %>
			<%= f.label :is_commentable, "コメントを許可する", class: "custom-control-label" %>
		</div>
	<% end %>
	<div>
		<%= f.submit (@message.id.nil? ? "送信する" : "変更する"), id: "message_submit", class: "btn btn-success" %>
		<%= link_to "戻る", (@message.id.nil? ? messages_path : message_path), class: "ml-5" %>
	</div>
<% end %>

<%= form_with url: search_users_path, class: "d-flex my-auto", local: false, id: "search_user" do |f| %>
<% end %>