<%= javascript_pack_tag "destination", "data-turbolinks-track": "reload" %>

<%= form_with model: @message do |f| %>
	<table class="table table-borderless align-middle">
		<colgroup>
			<col class="align-middle">
		</colgroup>
		<tbody>
			<tr>
				<th>標題</th>
				<td><%= f.text_field :title, class: "form-control" %></td>
			</tr>
			<tr>
				<th>差出人</th>
				<th><%= @message.sender.name %></th>
			</tr>
			<tr>
				<th>本文</th>
				<td>
					<%= f.text_area :body, class: "form-control" %>
				</td>
			</tr>
			<tr>
				<th>添付ファイル</th>
				<td><%= f.file_field :attachments %></td>
			</tr>
			<tr>
				<th>宛先</th>
				<td class="d-flex">
					<div>
						<%#= f.hidden_field :destination %>
						<%= f.select :destination, (@message.id.nil? ? [] : options_from_collection_for_select(@receivers, :id, :name)), {}, multiple: true, class: "form-control p-1", id: "destination_list" %>
					</div>
					<div class="my-auto mx-2">
						<%= button_tag type: 'button', class: "d-block mb-3 btn border border-primary", id: "add_receiver" do %>
							<i class="fa-solid fa-caret-left"></i>追加
						<% end %>
						<%= button_tag type: 'button', class: "d-block btn border border-danger", id: "remove_receiver" do %>
							削除<i class="fa-solid fa-caret-right"></i>
						<% end %>
					</div>
					<div>
						<%= select "ユーザー一覧", :user_list, options_from_collection_for_select(@user_list, :id, :name), {}, multiple: true, class: "form-control p-1", id: "user_list" %>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<% if @message.id.nil? %>
		<%= f.check_box :confirmation_flag, {} , "true", "false" %>
		<%= f.label :confirmation_flag, "閲覧状況を確認する" %>

		<%= f.check_box :is_commentable, {} , "true", "false" %>
		<%= f.label :is_commentable, "コメントを許可する" %>
	<% end %>
	<%= f.submit (@message.id.nil? ? "送信する" : "変更する"), class: "btn btn-success" %>

<% end %>