<% content_for :title, "メッセージ" %>
<div class="p-3">
	<h3>メッセージ</h3>
	<div>
		<%= link_to "メッセージを送る", new_message_path %>
	</div>
	<div class="d-flex">
		<div class="message_sidebar col-2 pt-5 px-3">
			<ul class="list-group">
				<li class="list-group-item p-0<%= " active" if params[:box].nil? %>">
					<%= link_to "受信箱", messages_path, class: "d-block p-3#{" text-light" if params[:box].nil?}" %>
				</li>
				<li class="list-group-item p-0<%= " active" if @is_send_box %>">
					<%= link_to "送信箱", messages_path(box: "send"), class: "d-block p-3#{" text-light" if @is_send_box}" %>
				</li>
				<li class="list-group-item p-0<%= " active" if @is_trash_box %>">
					<%= link_to "ごみ箱", messages_path(box: "trash"), class: "d-block p-3#{" text-light" if @is_trash_box}" %>
				</li>
			</ul>
		</div>
		<div class="message_list col-10">
			<p class="text-right">
				全
				<%= @total_count %>
				件中
				<%= "#{@count_start} - #{@count_end}" %>
				件目 (<%= "#{@current_page} / #{@num_pages}" %>
				ページ)
			</p>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>標題</th>
						<th>差出人</th>
						<th>更新日時</th>
					</tr>
				</thead>
				<tbody>
					<% @messages.each do |item| #メッセージ一覧 %>
						<tr<%= " class=unread" unless item.already_read_flag %>>
							<td<%= " class=font-weight-bold" unless item.already_read_flag %>><%= link_to item.title, message_path(item.id) %></td>
							<td><%= link_to item.sender.icon + item.sender.name, "" %></td>
							<td><%= date_or_time(item.updated_at) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @messages %>
		</div>
	</div>
</div>

