<% content_for :title, "メッセージ" %>
<div class="p-3">
	<div class="d-flex justify-content-between">
		<div>
			<h3>
				<i class="fas fa-comment"></i>
				<%= @q ? "検索結果" : "メッセージ" %>
			</h3>
		</div>
		<%= render "layouts/search_box" %>
	</div>
	<p>
		<%= link_to "メッセージを送る", new_message_path unless @q %>
	</p>
	<div class="d-flex">
		<%# サイドバー %>
		<% unless @q %>
			<div class="sidebar message_sidebar col-2 pt-5 px-3">
				<ul class="list-group">
					<li class="list-group-item p-0<%= " active" if params[:box].nil? %>">
						<%= link_to "受信箱", messages_path, class: "d-block p-3#{" text-light" if params[:box].nil?}" %>
					</li>
					<li class="list-group-item p-0<%= " active" if @is_send_box %>">
						<%= link_to "送信箱", messages_path(box: "send"), class: "d-block p-3#{" text-light" if @is_send_box}" %>
					</li>
					<li class="list-group-item p-0<%= " active" if @is_trash_box %>">
						<%= link_to "ごみ箱", messages_path(box: "trash"), class: "d-block p-3#{" text-light" if @is_trash_box}" %>
					</li>
				</ul>
			</div>
		<% end %>
		<div class="message_list <%= @q ? "col-12" : "col-10" %>">
			<%= render "layouts/index", items: @messages %>
		</div>
	</div>
</div>