<% content_for :title, "#{"検索結果 - " if @queries}メッセージ" %>
<div class="p-3">
	<div class="d-flex justify-content-between">
		<div>
			<h3>
				<i class="fas fa-comment"></i>
				<%= @queries ? "検索結果" : "メッセージ" %>
			</h3>
		</div>
		<%= render "layouts/search_box" %>
	</div>
	<p>
		<%= link_to "メッセージを送る", new_message_path unless @queries %>
	</p>
	<div class="d-flex">
		<%# サイドバー %>
		<% unless @queries %>
			<div class="sidebar message_sidebar col-2 pt-5 px-3">
				<ul class="list-group">
					<li class="list-group-item p-0<%= " active" if params[:box].nil? %>">
						<%= link_to "受信箱", messages_path, class: "d-block p-3#{" text-light" if params[:box].nil?}" %>
					</li>
					<li class="list-group-item p-0<%= " active" if @box[:is_send_box] %>">
						<%= link_to "送信箱", messages_path(box: "send"), class: "d-block p-3#{" text-light" if @box[:is_send_box]}" %>
					</li>
					<li class="list-group-item p-0<%= " active" if @box[:is_trash_box] %>">
						<%= link_to "ごみ箱", messages_path(box: "trash"), class: "d-block p-3#{" text-light" if @box[:is_trash_box]}" %>
					</li>
				</ul>
			</div>
		<% end %>
		<div class="message_list <%= @queries ? "col-12" : "col-10" %>">
			<%= render "layouts/index", items: @messages %>
		</div>
	</div>
</div>