<div class="p-3">
	<h3>メッセージ</h3>
	<div>
		<%= link_to "メッセージを送る", new_message_path %>
	</div>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>標題</th>
					<th>差出人</th>
					<th>更新日時</th>
				</tr>
			</thead>
			<tbody>
				<% @messages.each do |item| #メッセージ一覧 %>
					<tr<%= " class=unread" unless item.already_read_flag %>>
						<td<%= " class=font-weight-bold" unless item.already_read_flag %>><%= link_to item.title, message_path(item.id) %></td>
						<td><%= link_to item.sender.icon + item.sender.name, "" %></td>
						<td><%= date_or_time(item.updated_at) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

