<%= javascript_pack_tag "destination_list_table_height" %>
<% content_for :title, @message.title %>
<div class="p-3 h-100">
	<div class="back">
		<%= link_to "javascript:history.back();" do %>
			<i class="fas fa-arrow-circle-left"></i>戻る
		<% end %>
	</div>
	<h3><%= @message.title %></h3>
	<table class="table table-striped table-responsive text-nowrap receivers mb-0">
		<caption>
			<div class="d-flex justify-content-between">
				<p class="font-weight-bold text-body">宛先一覧</p>
			</div>
		</caption>
		<tbody class="bg-white">
			<tr class="thead">
				<th>ユーザー名</th>
				<th class="text-center">変更/削除の許可</th>
				<th class="text-center">閲覧日時</th>
			</tr>
			<% @destinations.each do |destination| %>
				<tr>
					<td>
						<%= link_to destination.receiver.icon + destination.receiver.name, destination.receiver %>
						<%= "(差出人)" if destination.receiver == @message.user %>
					</td>
					<td class="text-center">
						<%= "<i class='fas fa-check-circle'></i>".html_safe if destination.is_editable %>
					</td>
					<td>
						<%= l destination.finished_reading if destination.finished_reading %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>