<% if @message_error %>
	<%= render "layouts/forbidden" %>
<% else %>
	<% content_for :title, @message.title %>
	<div class="p-3">
		<div>
			<%= link_to @message do %>
				<i class="fas fa-arrow-circle-left"></i>戻る
			<% end %>
		</div>
		<h3><%= @message.title %></h3>
		<table class="table table-responsive">
			<thead>
				<caption>
					<div class="d-flex justify-content-between">
						<p class="font-weight-bold text-body">宛先一覧</p>
						<p><%= pagination_counter(@destinations) %></p>
					</div>
				</caption>
				<tr>
					<th>ユーザー名</th>
					<th>変更/削除の許可</th>
					<th>閲覧日時</th>
				</tr>
				</thead>
				<tbody>
				<% @destinations.each do |destination| %>
					<tr>
						<td>
							<%= link_to destination.receiver.icon + destination.receiver.name, user_path(destination.receiver_id) %>
							<%= "(差出人)" if destination.receiver == @message.user %>
						</td>
						<td class="text-center">
							<%= "<i class='fas fa-check-circle'></i>".html_safe if destination.is_editable %>
						</td>
						<td>
							<%= l destination.finished_reading if destination.finished_reading %>
						</td>
					</tr>
				<% end %>
				<tr>
					<td colspan=3><%= paginate @destinations %></td>
				</tr>
			</tbody>
		</table>
	</div>
<% end %>