<% if @message_error %>
	<%= render "layouts/forbidden" %>
<% else %>
	<% content_for :title, @message.title %>
	<div class="p-3">
		<div>
			<%= link_to "<i class='fas fa-edit'></i>変更する".html_safe, edit_message_path if @message.sender == current_user || @editors.include?(current_user) %>
			<% if @message.recycled? %>
				<%= link_to "<i class='fas fa-trash-restore'></i>元に戻す".html_safe, restore_message_path, method: :patch %>
			<% else %>
				<%= link_to "<i class='fas fa-trash-alt'></i>削除する".html_safe, "javascript:void(0);", data: { target: "#delete_modal", toggle: "modal" } %>
			<% end %>
		</div>
		<div class="d-flex align-items-center my-2">
			<div class="favorite_<%= @message.id %> h5 mb-0 mr-2">
				<%= render "favorites/star", item: @message %>
			</div>
			<h3 class="m-0">
				<i class="fas fa-comment"></i>
				<%= @message.title %>
			</h3>
		</div>
		<table class="table-responsive">
			<tbody>
				<tr>
					<th class="pr-2 text-nowrap">差出人</th>
					<td class="pr-2 editor">
						<%= link_to @message.sender.icon + @message.sender.name, user_path(@message.sender.id) %>
					</td>
					<td><%= l @message.created_at %></td>
				</tr>
				<% if @message.update_content_at %>
					<tr>
						<th class="pr-2 text-nowrap">最終更新者</th>
						<td class="pr-2 editor">
							<%= link_to @message.last_update_user.icon + @message.last_update_user.name, user_path(@message.last_update_user.id) %>
						</td>
						<td><%= l @message.update_content_at %></td>
					</tr>
				<% end %>
				<tr>
					<th class="pr-2 align-top"><%= link_to "宛先", receivers_message_path %></th>
					<td colspan=2 class="pr-2">
						<span class="mr-2">
							（<%= @receivers.count.to_s(:delimited) %>人）
						</span>
						<% @receivers.limit(@limit_view_receivers).each do |receiver| %>
							<span class="mr-2">
								<%= link_to receiver.icon + receiver.name, user_path(receiver.id) %>
							</span>
						<% end %>
						<% if @limit_view_receivers < @receivers.count %>
							…
							<%= link_to "宛先をすべて表示する", receivers_message_path %>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="<%= @unread_after_update ? "unread" : "border" %> p-4 my-3">
			<%= @message.body.html_safe %>
			<%= render "layouts/attachments", item: @message %>
		</div>
		<%#= render "layouts/post_comment", article: @message %>
			<% if @message.is_commentable #コメントフォーム %>
				<div>
					<h6>コメントを書き込む</h6>
					<%= form_with model: @new_comment, url: message_comments_path(@message.id), id: "form" do |f| %>
						<%= f.hidden_field :body, placeholder: "コメントを入力", class: "form-control my-3", id: "summernote" %>
						<%= f.file_field :attachments, multiple: true, class: "my-3", id: "comment_attachments" %>
						<%= f.submit "書き込む", class: "btn btn-success d-block", id: "comment_submit" %>
					<% end %>
				</div>
			<% end %>
			<%= paginate @comments %>
			<div class="border-top my-3">
				<% @comments.each do |comment| #コメント一覧 %>
					<div class="comment border-bottom">
						<div class="d-flex m-2 p-2<%= " unread" if comment.comment_id > @viewed_comment %>">
							<div class="pr-2"><%= image_tag comment.commenter.get_image, class: "profile_image" %></div>
							<div class="w-100">
								<div>
									<span class="comment_name mr-3">
										<%= comment.comment_id %> : <%= link_to comment.commenter.name, user_path(comment.commenter_id) %>
									</span>
									<span class="comment_datetime mr-3">
										<%= l comment.created_at %>
									</span>
									<% if comment.commenter_id == current_user.id %>
										<span class="delete_comment" style="display: none;">
											<%= link_to "削除する", message_comment_path(@message.id, comment.id), method: :delete, "data-confirm": "このコメントを削除しますか？\n#{Sanitize.clean(comment.body)}", class: "text-danger" %>
										</span>
									<% end %>
								</div>
								<div class="comment_body ml-3 mt-2">
									<%= comment.body.gsub("\n", "<br>").html_safe %>
									<%= render "layouts/attachments", item: comment %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="modal fade" id="delete_modal">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header p-0">
					<p class="modal-title text-white p-2">メッセージの削除</p>
				</div>
				<div class="modal-body">
					<p>以下のメッセージを削除しようとしています。</p>
					<li class="font-weight-bold ml-4"><%= @message.title %></li>
					<p>受信箱から削除するには「ごみ箱に移動する」を押してください。</p>
					<% if @message.sender == current_user || @editors.include?(current_user) %>
						<p class="mt-4">メッセージの送信そのものを取り消す場合には「完全に削除する」を押してください。</p>
						<p class="text-danger font-weight-bold">「完全に削除する」を押すと各受信者のフォルダからも永続的に削除され、元に戻すことはできません。</p>
					<% end %>
				</div>
				<div class="modal-footer p-3 w-100 d-flex">
					<%= button_to "ごみ箱に移動する", trash_message_path, method: :patch, class: "btn btn-warning"%>
					<%= button_to "完全に削除する", message_path, method: :delete, class: "btn btn-danger" if @message.sender == current_user || @editors.include?(current_user) %>
					<%= button_tag "キャンセル", data: { dismiss: "modal" }, class: "btn btn-outline-dark" %>
				</div>
			</div>
		</div>
	</div>
<% end %>