<% content_for :title, "お気に入り" %>
	<div class="p-3">
		<h3>
			<i class="fas fa-star"></i>
			お気に入り
		</h3>
		<table class="table table-striped">
			<caption>
				<p class="text-right">
					<%= pagination_counter(@favorites) %>
				</p>
			</caption>
			<thead>
				<tr>
					<th></th>
					<th>標題</th>
					<th>差出人</th>
					<th>更新日時</th>
					<th>追加日時</th>
				</tr>
			</thead>
			<tbody>
				<% @favorites.each do |fav| %>
					<tr>
						<td class="text-center">
							<% if fav.class_name == "Message" %>
								<i class="fas fa-comment"></i>
							<% elsif fav.class_name == "BulletinBoard" %>
								<i class="fas fa-clipboard"></i>
							<% elsif fav.class_name == "Schedule" %>
								<i class="fas fa-calendar-alt"></i>
							<% end %>
						</td>
						<td class="overflow_ellipsis">
							<p class="overflow_ellipsis">
								<%= link_to fav.item.title, fav.item %>
							</p>
						</td>
						<td class="overflow_ellipsis">
							<p class="overflow_ellipsis">
								<%= link_to fav.item.user.icon + fav.item.user.name, fav.item.user %>
							</p>
						</td>
						<td>
							<%= date_or_time(fav.item.updated_at) %>
						</td>
						<td>
							<%= date_or_time(fav.created_at) %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
