<%= form_with model: user, local: !user.id.nil?, id: "user_form" do |f| %>
	<table class="table table-responsive">
		<tbody>
			<tr>
				<th>名前</th>
				<td><%= f.text_field :name, required: true, class: "form-control" %></td>
			</tr>
			<tr>
				<th>ログイン名</th>
				<td>
					<% if user.id.nil? %>
						<%= f.text_field :login_name, required: true, class: "form-control" %>
					<% else %>
						<%= user.login_name %>
					<% end %>
				</td>
			</tr>
			<% if user.id.nil? %>
				<tr>
					<th>初期パスワード</th>
					<td>
						<%= f.password_field :password, required: true, class: "form-control" %>
					</td>
				</tr>
			<% end %>
			<tr>
				<th>社員番号</th>
				<td><%= f.text_field :employee_number, class: "form-control" %></td>
			</tr>
			<tr>
				<th>E-mail</th>
				<td><%= f.email_field :email, class: "form-control" %></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><%= f.text_field :phone_number, class: "form-control" %></td>
			</tr>
			<% if current_user.is_admin %>
				<tr>
					<th>管理者権限</th>
					<td>
						<% if User.count{|t| t.is_admin == true} > 1 || !user.is_admin %>
							<%= f.check_box :is_admin, {} , "true", "false" %>
							<%= f.label :is_admin, "管理者権限を付与する", class: "m-0" %>
						<% else %>
							<a title="※管理者アカウントが1つのみのため解除できません。">管理者権限を付与する</a>
						<% end %>
					</td>
				</tr>
			<% end %>
			<tr>
				<th>画像</th>
				<td>
					<div>
						<%= user.image.attached? ? user.image.filename : "未登録" %>
					</div>
					<% if user.image.attached? %>
						<div>
							<%= f.check_box :delete_image, {} , "true", "false" %>
							<%= f.label :delete_image, "削除する" %>
						</div>
					<% end %>
					<div>
						<%= f.file_field :image, accept: "image/*" %>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<%= f.submit (user.id.nil? ? "追加する" : "変更する"), class: "btn btn-success", id: "user_submit" %>
<% end %>
