<% content_for :title, "ユーザーデータ編集 - #{@user.name}" %>
<div class="p-3">
	<h3>ユーザーデータ編集</h3>
	<%= render "users/form", user: @user %>
</div>
<div class="modal fade" id="delete_modal">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header p-0">
				<p class="modal-title text-white p-2">ユーザーデータの削除</p>
			</div>
			<div class="modal-body">
				<p>
					以下のユーザーを削除しようとしています。
				</p>
				<li class="font-weight-bold ml-4"><%= @user.name %></li>
				<% unless @user.is_invalid %>
					<p>
						アカウントを無効化するには「無効にする」を押してください。
						<br>
						（ログインできなくなりますが、ユーザーデータは残ります。）
					</p>
				<% end %>
				<p class="mt-4">ユーザーデータそのものを完全に削除するには「完全に削除する」を押してください。</p>
				<p class="text-danger font-weight-bold">「完全に削除する」を押すと、メッセージ・掲示板等、上記ユーザーが投稿したデータ及びそれらに関連付けられているデータも全て削除されます。</p>
			</div>
			<div class="modal-footer p-3 w-100 d-flex">
				<%= button_to "無効にする", user_invalidate_path(@user.id), method: :patch, class: "btn btn-warning" unless @user.is_invalid %>
				<%= button_to "完全に削除する", user_path(@user.id), method: :delete, data: {confirm: "本当に削除しますか？\nこの操作は元に戻せません。"}, class: "btn btn-danger" %>
				<%= button_tag "キャンセル", data: { dismiss: "modal" }, class: "btn btn-outline-dark" %>
			</div>
		</div>
	</div>
</div>