<% content_for :title, "ユーザー一覧" %>
<% if @user_error %>
	<%= render "layouts/forbidden" %>
<% else %>
	<div class="p-3">
		<%= link_to "<i class='fas fa-plus-circle'></i> ユーザーを追加する".html_safe, new_user_path %>
		<h3>ユーザー一覧</h3>
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>ユーザー名</th>
					<th>ログイン名</th>
					<th>管理者</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td class="overflow_ellipsis">
							<p class="overflow_ellipsis"><%= link_to user.icon + user.name, user_path(user.id) %></p>
						</td>
						<td><%= user.login_name %></td>
						<td class="text-center">
							<%= "<i class='fas fa-check-circle'></i>".html_safe if p user.is_admin %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>