<% if @user_error %>
	<%= render "layouts/forbidden" %>
<% else %>
	<div class="p-3">
		<%= link_to "javascript:history.back();" do %>
			<i class="fas fa-arrow-circle-left"></i>戻る
		<% end %>
		<h3>パスワードの変更</h3>
		<%= form_with model: @user, url: user_password_path do |f| %>
			<table class="table w-unset">
				<tbody>
					<tr>
						<th>ユーザー名</th>
						<td><%= link_to @user.icon + @user.name, user_path(@user.id) %></td>
					</tr>
					<tr>
						<th>ログイン名</th>
						<td><%= @user.login_name %></td>
					</tr>
					<tr>
						<th>新しいパスワード</th>
						<td>
							<%= f.password_field :password, class:"form-control", id:"password" %>
						</td>
					</tr>
					<tr>
						<th>
							新しいパスワード（再入力）
						</th>
						<td>
							<%= f.password_field :password_confirmation, class:"form-control", id:"password_confirmation" %>
					</tr>
				</tbody>
			</table>
			<%= f.submit "変更する", class: "btn btn-success", id: "password_submit" %>
		<% end %>
	</div>
<% end %>