<% content_for :title, "ユーザーデータ - #{@user.name}" %>
<div class="p-3">
	<%= link_to "<i class='fas fa-calendar-alt'></i>スケジュールを見る".html_safe, user_schedules_path(@user) %>
	<%= link_to "<i class='fas fa-edit'></i>ユーザーデータを変更する".html_safe, edit_user_path if @user == current_user || current_user.is_admin %>
	<%= link_to "<i class='fas fa-key'></i>パスワードを変更する".html_safe, user_password_path(@user) if @user == current_user || current_user.is_admin %>
	<h4><%= @user.name %></h4>
	<div>
		<table class="table table-responsive">
			<tbody>
				<tr>
					<th>名前</th>
					<td><%= @user[:name] %></td>
				</tr>
				<tr>
					<th>社員番号</th>
					<td><%= @user.employee_number %></td>
				</tr>
				<tr>
					<th>E-mail</th>
					<td><%= @user.email %></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td><%= @user.phone_number %></td>
				</tr>
				<tr>
					<th>所属する組織</th>
					<td>
						<% @user.user_organizations.each do |org| %>
							<p><%= org.name %></p>
						<% end %>
					</td>
				</tr>
				<tr>
					<th>優先する組織</th>
					<td><%= @user.preferred_org.name %></td>
				</tr>
				<tr>
					<th>画像</th>
					<td><%= @user.image.attached? ? (image_tag @user.image, class: "image_in_body") : "未登録" %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>