<div class="login_form d-flex pt-5">
  <div class="m-auto text-center">
    <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field text-left my-3">
        <%= f.label :login_name, "ログイン名" %><br />
        <%= f.text_field :login_name, autofocus: true, class: "form-control" %>
      </div>

      <div class="field text-left my-3">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field my-3">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, "パスワードを記憶する", class: "form-check-label" %>
        </div>
      <% end %>

      <div class="actions my-3">
        <%= f.submit "ログイン", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

</div>
<div style="position:fixed;bottom:60px;right:10px;width:30em;background-color:aliceblue;border:2px solid deepskyblue;box-shadow:0 0 10px rgb(0 0 0 / 50%);text-align:center;padding:8px">
  <h5>デモ用ID</h5>
  <p>下記ID・パスワードにてログインが可能です。</p>
  <table class="table mt-3 mb-0">
    <thead>
      <tr>
        <th></th>
        <th>ログイン名</th>
        <th>パスワード</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>管理者ユーザー</td>
        <td>satos</td>
        <td>satos</td>
      </tr>
      <tr>
        <td>一般ユーザー</td>
        <td>yamadat</td>
        <td>yamadat</td>
      </tr>
    </tbody>
  </table>
</div>
