<%= javascript_pack_tag "onbeforeunload" %>
<%= javascript_pack_tag "summernote_initial_value" %>

<%= form_with model: @article do |f| %>
	<table class="table table-borderless align-middle">
		<colgroup>
			<col class="align-middle">
		</colgroup>
		<tbody>
			<tr>
				<th>標題</th>
				<td>
					<%= f.text_field :title, required: true, class: "form-control" %>
					<p class="text-danger" id="title_error"></p>
				</td>
			</tr>
			<tr>
				<th>差出人</th>
				<th><%= @article.user.name %></th>
			</tr>
			<tr>
				<th>本文</th>
				<td>
					<%= f.text_area :body, class: "form-control", id: "summernote" %>
				</td>
			</tr>
			<tr>
				<th>添付ファイル</th>
				<td>
					<%= f.file_field :attachments, multiple: true %>
				</td>
			</tr>
			<% if !@article.id.nil? && @article.attachments.present? %>
				<tr>
					<th>削除するファイル</th>
					<td>
						<% @article.attachments.each do |item| %>
							<div>
								<%= f.check_box "existing_files", {multiple: true} , item.id, false %>
								<%= f.label "existing_files_#{item.id}", item.filename, class: "m-0" %>
							</div>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<div class="custom-checkbox custom-control mb-3">
		<%= f.check_box :is_commentable, {class: "custom-control-input"} , "true", "false" %>
		<%= f.label :is_commentable, "コメントを許可する", class: "custom-control-label" %>
	</div>
	<div>
		<%= f.submit (@article.id.nil? ? "送信する" : "変更する"), id: "bulletin_board_submit", class: "btn btn-success" %>
		<%= link_to "戻る", (@article.id.nil? ? bulletin_boards_path : bulletin_board_path), class: "ml-5" %>
	</div>
<% end %>