<% content_for :title, "掲示板" %>
<div class="p-3">
	<h3>掲示板</h3>
	<div>
		<%= link_to "掲示を書き込む", new_bulletin_board_path %>
	</div>
	<div class="d-flex">
		<div class="message_list col-12">
			<p class="text-right">
				全
				<%= @total_count %>
				件中
				<%= "#{@count_start} - #{@count_end}" %>
				件目 (<%= "#{@current_page} / #{@num_pages}" %>
				ページ)
			</p>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>標題</th>
						<th>差出人</th>
						<th>更新日時</th>
					</tr>
				</thead>
				<tbody>
					<% @articles.each do |item| #掲示一覧 %>
						<tr<%= " class=unread" unless item.view_flag %>>
							<td class="overflow_ellipsis<%= " font-weight-bold" unless item.view_flag %>">
								<p class="overflow_ellipsis"><%= link_to item.title, bulletin_board_path(item.id) %></p>
							</td>
							<td class="overflow_ellipsis">
								<p class="overflow_ellipsis"><%= link_to item.sender.icon + item.sender.name, user_path(item.sender.id) %></p>
							</td>
							<td><%= date_or_time(item.updated_at) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @articles %>
		</div>
	</div>
</div>

