<%= javascript_pack_tag "header", "data-turbolinks-track": "reload" %>
<div class="header_2 d-flex h-100 justify-content-between">
	<nav class="d-flex">
		<%= link_to root_path, class: "header_link d-block text-center my-auto" do %>
			<p class="fa-solid fa-house"></p>
			<p>TOP</p>
		<% end %>
		<%= link_to messages_path, class: "header_link d-block text-center my-auto" do %>
			<p class="fa-solid fa-message"></p>
			<p>メッセージ</p>
		<% end %>
		<%= link_to "", class: "header_link d-block text-center my-auto" do %>
			<p class="fa-solid fa-calendar-days"></p>
			<p>スケジュール</p>
		<% end %>
		<%= link_to "", class: "header_link d-block text-center my-auto" do %>
			<p class="fa-solid fa-clipboard"></p>
			<p>掲示板</p>
		<% end %>
	</nav>
	<nav class="d-flex">
		<div class="my-auto me-2">
			<p><%= flash[:notice] %></p>
		</div>
		<div class="header_user d-flex my-auto border p-2">
			<p class="fa-solid fa-user m-auto me-3"></p>
			<p class="m-auto"><%= current_user.name %></p>
		</div>
		<div class="header_user_menu d-none border">
			<%= link_to "ユーザーデータ編集", "", class: "d-block p-2" %>
			<%= link_to "パスワード変更", "", class: "d-block p-2" %>
			<%= link_to "個人設定", "", class: "d-block p-2" %>
			<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "d-block p-2 border-top" %>
		</div>
	</nav>
</div>