<%= javascript_pack_tag "header" %>
<div class="header_2 d-flex h-100 justify-content-between">
	<nav class="d-flex">
		<%
=begin %>
		<%= link_to root_path, class: "header_link d-block text-center my-auto" do %>
			<p class="fas fa-house-user"></p>
			<p>TOP</p>
		<% end %>
		<%
=end %>
		<%= link_to messages_path, class: "header_link d-block text-center my-auto" do %>
			<i class="fas fa-comment"></i>
			<p>メッセージ</p>
		<% end %>
		<%= link_to schedules_path, class: "header_link d-block text-center my-auto" do %>
			<i class="fas fa-calendar-alt"></i>
			<p>スケジュール</p>
		<% end %>
		<%= link_to bulletin_boards_path, class: "header_link d-block text-center my-auto" do %>
			<i class="fas fa-clipboard"></i>
			<p>掲示板</p>
		<% end %>
		<%= link_to favorites_path, class: "header_link d-block text-center my-auto" do %>
			<i class="fas fa-star"></i>
			<p>お気に入り</p>
		<% end %>
	</nav>
	<nav class="d-flex">
		<div class="my-auto mr-2">
			<p><%= "#{"●" if flash[:notice]}#{flash[:notice]}" %></p>
		</div>
		<div class="header_user d-flex my-auto border p-2">
			<i class="fas fa-user mr-3"></i>
			<p><%= current_user.name %></p>
		</div>
		<div class="header_user_menu d-none border">
			<%= link_to "ユーザーデータ編集", edit_user_path(current_user.id), class: "d-block p-2" %>
			<%= link_to "パスワード変更", user_password_path([current_user.id]), class: "d-block p-2" %>
			<%= link_to "一般設定", edit_user_config_path, class: "d-block p-2" %>
			<%= link_to "他ユーザーの追加・編集", users_path, class: "d-block p-2 border-top" if current_user.is_admin %>
			<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "d-block p-2 border-top" %>
		</div>
	</nav>
</div>