<table class="table table-striped">
	<caption>
		<p class="text-right">
			<%= pagination_counter(items) %>
		</p>
	</caption>
	<thead>
		<tr>
			<th></th>
			<th>標題</th>
			<th>差出人</th>
			<th>更新日時</th>
		</tr>
	</thead>
	<tbody>
		<% items.each do |item| #掲示一覧 %>
			<tr<%= " class=unread" unless item.already_read_flag %>>
				<td class="favorite_<%= item.id %> star pr-0 text-center<%= " unread_td" unless item.already_read_flag %>">
					<%= render "favorites/star", item: item %>
				</td>
				<td class="overflow_ellipsis<%= " font-weight-bold unread_td" unless item.already_read_flag %>">
					<p class="overflow_ellipsis"><%= link_to item.title, item %></p>
				</td>
				<td class="overflow_ellipsis<%= " unread_td" unless item.already_read_flag %>">
					<p class="overflow_ellipsis"><%= link_to item.user.icon + item.user.name, user_path(item.user.id) %></p>
				</td>
				<td<%= " class=unread_td" unless item.already_read_flag %>>
					<%= date_or_time(item.updated_at) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= paginate items %>
